<!-- <p>tweets-div works!</p> -->
<div class="tweet-container">
    <div class="vertical"></div>

    <div class="tweetbox" *ngFor="let entry of entries;let i = index;">
        <div class="username">[{{entry.username}}]</div>
        <div class="time">{{entry.time}}</div>
        <div class="tweettext">
            {{entry.text}}
        </div>
    </div>
    <div class="circle"></div>
</div>
    <!-- <div class="tweetbox">
        <div class="username">username</div>
        <div class="time">23h</div>
        <div class="tweettext">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Natus perferendis error rem cupiditate adipisci, tenetur vel nisi pariatur 
            labore quas debitis quae molestias.
            Deleniti est sit atque eveniet delectus fugit!
        </div>
    </div>
</div>-->