
.tweet-container{
    margin-top: 50px;
    /* margin-bottom: 20px; */
    position: sticky;
}
/* .tweet-container::after{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
} */
.username{
    font-size: 16px;
    font-style: italic;
    margin-right: 10px;
    float: left;
}

.time{
    font-size: 16px;
    /* color: rgb(120, 128, 136); */
    font-style: italic;
}

.tweettext
{
    margin-top: 2px;
}
.tweetbox{
    color:rgb(0, 0, 0);
    position: static;
    background-color: #e2e2e2;
    margin-bottom: 30px;
    width: 600px;
    /* width: 100%;
    height: 100%; */
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    /* z-index: 100; */
}
.tweetbox:hover{
    color: #e2e2e2;
    background-color: #353434;
}
div.vertical {
    position: absolute;
    /* position: static; */
    height:fit-content;
    padding-top: 100%;
    width:0;
    border:1px solid rgb(24, 30, 31);
    margin: 0 50% 0 50%;
    z-index: -10000;
}

div.vertical::after{
    /* margin: 0 52% 0 48%; */
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: absolute;
}